doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/styles.css") 
        title learnHockey
    body 
        header
            h1(class="sitename") 
                a(href="/home") learnHockey
            nav(class="navbar")
                h2
                    a(href="/leagues") Leagues
                h2
                    a(href="/teams") Teams
                h2
                    a(href="/rules") Rules
                h2
                    a(href="/penalties") Penalties
            .search
                form(action="search", method="post") 
                    .searchbuttons
                        input(type="text", name="search", placeholder="Search the site")
                        button(type="submit") Search
        
        .main
            block content

        footer 
            .selfCredit
                h3 Created by: RJ Fredrick Rico
                .socialIcons
                    img(src='img/social-icons/github.png' width="40px" height="40px")
                    img(src='img/social-icons/instagram.png' width="40px" height="40px")
                    img(src='img/social-icons/linkedin.png' width="40px" height="40px")
            .resourceCredit
                h3 Resources used:
                .resourceCredits
                    p 
                        | Logos: 
                        a(href="https://www.sportslogos.net/") SportsLogos.net
                    p 
                        | GIFS: 
                        a(href="https://www.nhl.com/") NHL.com
                    p Data: OpenAI