doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/styles.css") 
        title learnHockey
    body 
        header
            h2 learnHockey
        nav 
            a(href="/home") Home
            a(href="/teams") Teams
            a(href="/penalties") Penalties
            form(action="search", method="post") 
                input(type="text", name="search", placeholder="Search the site")
                button(type="submit") Search
        
        block content

        footer 
            p Created by RJ Fredrick Rico
            p IG - Git - Linkedin
