extends layout.pug 

mixin penalty(penalty) 
    .penalty-info-card
        .penalty-info-gif
            img(src=`../${penalty.example}` width="100%" height="100%")
        .penalty-info-info
            h1= penalty.name
            p= penalty.description 
            .penalty-container
                for singleFlag in penalty.penalty
                    if singleFlag=="Minor"
                        p.minor #[strong 2:00] Minor 
                    if singleFlag=="DoubleMinor"
                        p.minor #[strong 4:00] Double Minor
                    if singleFlag=="Major"
                        p.major #[strong 5:00] Major 
                    if singleFlag=="Misconduct"
                        p.major #[strong 10:00] Game Misconduct + Game Ejection/Suspension
            

block content
    .penalty-main
        for singlepenalty in penalty
            +penalty(singlepenalty)