extends layout.pug 

mixin penalty(penalty) 
    h2= penalty.name
    img(src=`../${penalty.example}` width="100%" height="100%")
    h3= penalty.penalty
    p= penalty.description 

block content
    for singlepenalty in penalty
        +penalty(singlepenalty)