body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(198, 223, 232);
}
header {
    display: flex;
    background-color: whitesmoke;
    border-top: rgb(164, 14, 14) 5px solid;
    border-bottom: rgb(202, 202, 5) 10px solid;
}
a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: black;
}
.sitename {
    width: 50%;
    padding-left: 20px;
}
.sitename > h2 > a {
    color: rgb(22, 22, 124);
}
.navbar {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.navbar > h2 {
    text-align: center;
    margin: auto;
}
.main {
    margin: auto;
    width: 80%;
    padding: 5px;
}

/* HOME */
.home-header {
    background-color: rgb(245, 245, 245);
    padding: 5px 5px 5px 15px;
    border-radius: 10px;
    margin: 15px 5px 15px 5px;
}

.home-top {
    display: flex;
    flex-direction: row;
}
.home-left {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(245, 245, 245, 0.5);
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-bottom: 10px solid whitesmoke;
}
.home-left-left {
    width: 30%;
}
.home-left-right {
    width: 70%;
    padding-left: 15px;
}
.home-right {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(245, 245, 245, 0.5);
    width: 30%;
    margin-left: 10px;
    padding: 15px;
    border-bottom: 10px solid whitesmoke;
}
.home-bottom {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.home-bottom-bot {
    height: 10%;
    padding: 15px;
    background-color: whitesmoke;
    border-top: rgb(164, 14, 14) 5px solid;
    border-bottom: rgb(202, 202, 5) 10px solid;
    margin-bottom: 50px;
}
.home-bottom-top {
    height: 90%;
    padding: 15px;
    background-color: rgb(245, 245, 245, 0.5);
}
.moment-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.moment {
    width: 33%
}
/* TEAMMAIN */
.team_card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.teamCard {
    border-bottom: 10px solid whitesmoke;
    border-radius: 15px;
    background-color: rgb(245, 245, 245, 0.5);
    display: flex;
    width: 24%;
    margin: 5px;
}
.team-info-main {
    width: 70%;
    margin: auto;
}
.team-info-card {
    margin: 15px 0px 15px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245, 0.5);
}
.team-info-card-top {
    height: 80%;
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.team-info-card-bot {
    background-color: whitesmoke;
    border-top: rgb(164, 14, 14) 5px solid;
    border-bottom: rgb(202, 202, 5) 10px solid;
    height: 20%;
    text-align: center;
}
.team-info-logo {
    width: 25%;
}
.team-info-info {
    padding-left: 20px;
    width: 75%;
}
.team-info-info > h1 {
    font-size: 300%;
}
.logo {
    width: 20%;
    padding: 10px;
}
.info {
    width: 80%;
    padding-left: 10px;
    margin: auto 0 auto 0;
}

.league_header {
    background-color: rgb(245, 245, 245);
    padding: 5px 5px 5px 15px;
    border-radius: 10px;
    margin: 15px 5px 15px 5px;
    display: flex;
    flex-direction: row;
}
.all-league-header {
    background-color: rgb(245, 245, 245);
    padding: 5px 5px 5px 15px;
    border-radius: 10px;
    margin: 15px 5px 15px 5px;
}
.league-header--logo {
    width: 10%;
}
.league-header--info {
    width: 90%;
    padding-left: 20px;
}
.all_leagues {
    display: flex;
    flex-wrap: wrap;
}
.leagueCard {
    width: 16%;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245, 0.5);
    overflow: hidden;
    margin: 5px;
    margin-bottom: 5em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.league_card--logo {
    height: 100%;
    padding: 10px;
}
.league_card--title {
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    border-bottom: 5px solid rgb(238, 238, 74);
    border-top: 5px solid rgb(164, 14, 14);
}

/* PENALTIES */
.penalty-header {
    margin-top: 15px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
}
.penalty-container {
    display: flex;
}
.penalty-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.penalty-card {
    width: 31%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(245, 245, 245, 0.5);
    border-bottom: 10px solid whitesmoke;
}
.minor {
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    width: fit-content;
}
.major {
    color: white;
    background-color: rgb(164, 14, 14);
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    width: fit-content;
}
.penalty-main {
    width: 50%;
    margin: auto;
    margin-bottom: 4em;
}
.penalty-info-card {
    margin: 15px 0px 15px 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245, 0.5);
}
.penalty-info-gif {
    height: 80%;
    padding: 25px;
}
.penalty-info-info {
    height: 20%;
    padding: 10px 25px 25px 25px;
    background-color: whitesmoke;
    border-bottom: 5px solid rgb(238, 238, 74);
    border-top: 5px solid rgb(164, 14, 14);
}
.penalty-info-info > h1 {

}







footer {
    background-color: whitesmoke;
    border-top: rgb(202, 202, 5) 10px solid;
    display: flex;
}
.selfCredit, .resourceCredit {
    width: 50%;
    text-align: center;
}
.resourceCredits, .socialIcons {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.socialIcons > a {
    padding: 20px;
}
.resourceCredits > p {
    padding: 20px;
}