body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(198, 223, 232);
}
header {
    display: flex;
    background-color: whitesmoke;
    border-top: rgb(164, 14, 14) 5px solid;
    border-bottom: rgb(202, 202, 5) 10px solid;
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
.sitename {
    width: 40%;
    padding-left: 20px;
}
.sitename > h2 > a {
    color: rgb(22, 22, 124);
}
.navbar {
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.navbar > h2 {
    text-align: center;
    margin: auto;
}
.search {
    display: flex;
    width: 20%;
}
.search > form {
    width: 100%;
    margin: auto;
}
.searchbuttons {
    text-align: center;
}
.main {
    margin: auto;
    width: 80%;
    padding: 5px;
}

/* TEAMMAIN */
.team_card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.teamCard {
    border-radius: 15px;
    background-color: rgb(245, 245, 245, 0.5);
    display: flex;
    width: 25%;
}
.logo {
    width: 20%;
}
.info {
    width: 80%;
    padding-left: 10px;
}

.league_header {
    background-color: rgb(245, 245, 245);
    padding: 5px 5px 5px 15px;
    border-radius: 10px;
    margin: 15px 5px 15px 5px;
}
.all_leagues {
    display: flex;
    flex-wrap: wrap;
}
.leagueCard {
    width: 16%;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245, 0.5);
    overflow: hidden;
    margin: 5px;
    margin-bottom: 5em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.league_card--logo {
    height: 100%;
    padding: 10px;
}
.league_card--title {
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    border-bottom: 5px solid rgb(202, 202, 5);
    border-top: 5px solid rgb(164, 14, 14);
}

/* PENALTIES */
.minor {
    width: min-content;
    background-color: yellow;
    padding: 10px;
}
.major {
    width: min-content;
    color: white;
    background-color: rgb(164, 14, 14);
    padding: 10px;
}

footer {
    background-color: whitesmoke;
    border-top: rgb(202, 202, 5) 10px solid;
    display: flex;
}
.selfCredit, .resourceCredit {
    width: 50%;
    text-align: center;
}
.resourceCredits, .socialIcons {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.socialIcons > img {
    padding: 20px;
}
.resourceCredits > p {
    padding: 20px;
}